.sidebar {
    width: 200px;
    //background-color: #5ec7fb;
    background: linear-gradient(to bottom, #2196f3 0%, #ffffff 100%);

    color: white;
    padding: 10px;
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 8px;
    text-decoration: none;
}

.sidebar a.active,
.sidebar a:hover {
    background-color: #455a64;
}